@font-face {
    font-family: 'geomanistbold';
    src: url('geomanist-bold-webfont.woff2') format('woff2'),
         url('geomanist-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistbook';
    src: url('geomanist-book-webfont.woff2') format('woff2'),
         url('geomanist-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistregular';
    src: url('geomanist-regular-webfont.woff2') format('woff2'),
         url('geomanist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}