* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

button:hover{
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

textarea:active,
input:active,
button:active,
select:active {
  outline: none;
}

textarea:focus,
input:focus,
button:focus,
select:focus {
  outline: none;
}


.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 72px;
  -webkit-box-shadow: 0 16px 65px rgba(36, 35, 51, 0.48);
  box-shadow: 0 16px 65px rgba(36, 35, 51, 0.48);
  background-color: #242333;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(36, 35, 51, 0.2)), to(rgba(60, 59, 83, 0.2)));
  background-image: linear-gradient(to right, rgba(36, 35, 51, 0.2) 0%, rgba(60, 59, 83, 0.2) 100%);
  z-index: 2;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 65.5%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .header-navbar {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
    position: absolute;
    left: 0;
    top: 72px;
    padding: 10px 0;
    height: 340px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
    background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%);
  }
}

.header-navbar__hamburger {
  display: none;
  width: 5%;
  position: relative;
  color: #ffffff;
  font-size: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 5%;
  height: 100%;
  z-index: 2;
}

.header-navbar__hamburger:hover{
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .header-navbar__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .header-navbar__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
  }

  .header-navbar__list li {
    width: 100%;
    text-align: left;
  }
}

.header-navbar__item {
  position: relative;
  display: block;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.13px;
  padding: 30px 35px;
  z-index: 1;
}

.header-navbar__item::after {
  content: "";
  display: none;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: -webkit-gradient(linear, left top, right top, from(#d94fc7), to(#ff905a));
  background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
  z-index: 2;
}

.header-navbar__item:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 35, 51, 0.2)), to(rgba(60, 59, 83, 0.2)));
  background-image: linear-gradient(to bottom, rgba(36, 35, 51, 0.2) 0%, rgba(60, 59, 83, 0.2) 100%);
}

.header-navbar__item:hover::after {
  display: block;
}

@media screen and (max-width: 900px) {
  .header-navbar__item {
    width: 100%;
  }
}

.header-userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 34.5%;
}

@media screen and (max-width: 900px) {
  .header-userinfo {
    width: 80%;
    z-index: 1;
  }
}

.header-userinfo__trophy {
  position: relative;
  display: block;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #9d9acc;
  font-size: 24px;
  margin-right: 35px;
}

.header-userinfo__trophy:after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  background: #a340ba;
  border: 4px solid #302642;
  border-radius: 50%;
  top: -5px;
  right: -7px;
}

@media screen and (max-width: 568px) {
  .header-userinfo__trophy {
    font-size: 16px;
    margin-right: 20px;
  }
}

.header-userinfo__bell {
  position: relative;
  display: block;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #9d9acc;
  font-size: 24px;
  margin-right: 29px;
}

.header-userinfo__bell:after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  background: #46d98e;
  border: 4px solid #302642;
  border-radius: 50%;
  top: -5px;
  right: -7px;
}

@media screen and (max-width: 568px) {
  .header-userinfo__bell {
    font-size: 16px;
    margin-right: 15px;
  }
}

.header-userinfo__gem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 6px 14px;
  width: 85px;
  height: 38px;
  -webkit-box-shadow: 0 15px 11px rgba(9, 10, 15, 0.15);
  box-shadow: 0 15px 11px rgba(9, 10, 15, 0.15);
  border-radius: 19px;
  border: 2px solid #d84ec7;
  background-color: #6f6d99;
  background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
  background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #cecbff;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1.13px;
  margin-right: 15px;
}

.header-userinfo__gem img {
  width: 27px;
  height: 25px;
}

.header-userinfo__icon {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 15px 11px rgba(9, 10, 15, 0.15);
  box-shadow: 0 15px 11px rgba(9, 10, 15, 0.15);
  border: 2px solid #9996c7;
  border-radius: 50%;
  background-color: #100621;
  background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
  background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%);
  margin-right: 20px;
}

.header-user__icon:after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(#df59b5), to(#fc8a63));
  background-image: linear-gradient(to right, #df59b5 0%, #fc8a63 100%);
  border: 4px solid #302642;
  border-radius: 50%;
  bottom: -2px;
  right: -4px;
}

.play {
  width: 106px;
  height: 42px;
  border-radius: 21px;
  border: 4px solid #908dbd;
  -webkit-box-shadow: inset 0 0 2px 2px 0 #000;
  box-shadow: inset 0 0 2px 2px 0 #000;
  background-color: #6f6d99;
  background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
  background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.13px;
  margin-left: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 900px) {
  .play {
    position: absolute;
    margin-top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}


.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 30px;
  background: url("../images/epic-background.png") no-repeat left top;
  background-size: 100%;
  background-color: #323145;
  position: relative;
  z-index: 1;
}

.main::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 49, 69, 0.8);
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .main {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.main-page {
  width: 60%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .main-page {
    width: 100%;
  }
}

.main-page__back {
  width: 100%;
  text-align: left;
  margin-bottom: 35px;
}

.main-page__back a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
}

.main-page__back i {
  margin-right: 20px;
  color: #9d9acc;
  font-size: 12px;
  opacity: 0.4;
}

@media screen and (max-width: 568px) {
  .main-page__back a {
    font-size: 14px;
  }
}

.main-page__more {
  width: 100%;
  padding: 30px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
  box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
  border-radius: 15px;
  background-color: #242333;
  background-color: #242333;
  opacity: 0.8;
  margin-bottom: 20px;
}

.main-page__more a {
  color: #9d9acc;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
}

@media screen and (max-width: 568px) {
  .main-page__more a {
    font-size: 12px;
  }
}

.main-page__more_prev i {
  margin-right: 20px;
  font-size: 12px;
}

@media screen and (max-width: 568px) {
  .main-page__more_prev i {
    margin-right: 5px;
  }
}

.main-page__more_next i {
  margin-left: 20px;
  font-size: 12px;
}

@media screen and (max-width: 568px) {
  .main-page__more_next i {
    margin-left: 5px;
  }
}

.main-page__adv {
  padding-top: 25px;
  width: 100%;
  display: block;
  -webkit-box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
  box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
  border-radius: 15px;
  background-color: #242333;
}


.main-article {
  width: 100%;
  padding: 0 23px;
  padding-bottom: 30px;
}

.main-article__img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  max-width: 100%;
  height: auto;
}

.main-article__title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.88px;
  margin-bottom: 20px;
}

.main-article__date {
  opacity: 0.5;
  color: #9d9acc;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  margin-bottom: 30px;
}

.main-article__text {
  color: #9d9acc;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.64px;
  margin-bottom: 30px;
}

.main-article__social {
  width: 100%;
  padding: 28px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  border-top: 2px solid rgba(157, 154, 204, 0.1);
}

@media screen and (max-width: 568px) {
  .main-article__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.main-article__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13px;
}

@media screen and (max-width: 568px) {
  .main-article__count {
    margin-bottom: 30px;
  }
}

.main-article__likes {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.64px;
  margin-right: 45px;
}

.main-article__likes i {
  color: #ed718f;
  font-size: 19px;
  margin-right: 14px;
}

.main-article__likes i:hover {
  cursor: pointer;
}

.main-article__views {
  color: #9d9acc;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.64px;
}

.main-article__views i {
  color: #9d9acc;
  opacity: 0.2;
  font-size: 18px;
  margin-right: 14px;
}

.main-article__share a {
  font-size: 23px;
  color: #9d9acc;
  opacity: 0.3;
  margin-left: 20px;
}

.main-comment {
  width: 100%;
  -webkit-box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
  box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
  border-radius: 15px;
  background-color: #242333;
}

.main-related {
  width: 37%;
  margin-left: 2%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .main-related {
    width: 100%;
    margin-top: 40px;
  }
}

.main-related__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  margin-bottom: 30px;
  align-content: flex-end
}

 @media screen and (min-width: 768px) {
  .main-related__title {
    text-align: center;
    padding-right: 310px
  }
}

.comment-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 77px;
  border-bottom: 2px solid rgba(157, 154, 204, 0.1);
  padding: 30px 30px;
}

.comment-bar__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 320px) {
  .comment-bar__ount {
    display: none;
  }
}

.comment-bar__count i {
  color: #9d9acc;
  font-size: 21px;
  padding-right: 20px;
}

.comment-bar__title {
  color: #9d9acc;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
}

@media screen and (max-width: 568px) {
  .comment-bar__title {
    display: none;
  }
}

.comment-bar__number {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.72px;
}

.comment-bar__switch a {
  position: relative;
  padding: 30px 10px;
  color: #9d9acc;
  font-family: "geomanistbold";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  margin-left: 25px;
  -webkit-transition: 1s;
  transition: 1s;
}

.comment-bar__switch a::after {
  content: "";
  display: none;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: -webkit-gradient(linear, left top, right top, from(#d94fc7), to(#ff905a));
  background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
  z-index: 2;
}

.comment-bar__switch a:hover {
  color: #ffffff;
}

.comment-bar__switch a:hover::after {
  display: block;
}

.comment-body {
  padding: 30px 25px;
}

.comment-body__enter {
  width: 100%;
}

.comment-body__input {
  width: 100%;
  height: 62px;
  border: none;
  border-radius: 5px;
  background-color: rgba(157, 154, 204, 0.05);
  padding: 24px 27px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  margin-bottom: 16px;
}

.comment-body__input::-webkit-input-placeholder {
  opacity: 0.4;
  color: #9d9acc;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.comment-body__input:-ms-input-placeholder {
  opacity: 0.4;
  color: #9d9acc;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.comment-body__input::-ms-input-placeholder {
  opacity: 0.4;
  color: #9d9acc;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.comment-body__input::placeholder {
  opacity: 0.4;
  color: #9d9acc;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.comment-body__out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(157, 154, 204, 0.1);
}

.comment-body__userphoto {
  display: block;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  margin-right: 17px;
}

.comment-body__userphoto img {
  max-width: 100%;
  height: auto;
}

.comment-body__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.comment-body__title {
  color: #9d9acc;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  margin-right: 13px;
}

.comment-body__date {
  opacity: 0.5;
  color: #9d9acc;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.comment-body__text {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  margin-top: 23px;
}

.related-news {
  background: url("../images/creature.png") no-repeat center;
  background-size: cover;
  width: 100%;
  max-height: 260px;
  max-width: 440px;
  padding-top: 150px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .related-news {
    margin-bottom: 100px;
    max-height: 600px;
    max-width: 700px;
  }
}

.related-news__about {
  padding: 24px 69px 29px 26px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(36, 35, 51, 0.9);
}

@media screen and (max-width: 768px) {
  .related-news__about {
    padding: 29px 26px;
  }
}

.related-news__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  margin-bottom: 15px;
}

.related-news__text {
  color: #9d9acc;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
}
body {
  font-family: 'geomanistbook';
}
h3 {
  font-family: 'geomanistbold';
  font-weight: bold;
}

 .main-news__social {
  width: 100%;
  padding: 28px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  border-top: 2px solid rgba(157, 154, 204, 0.1);
}

@media screen and (max-width: 568px) {
  .main-news__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.main-article__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13px;
}

@media screen and (max-width: 568px) {
  .main-article__count {
    margin-bottom: 30px;
  }
}

.main-news__likes {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.64px;
  margin-right: 45px;
}

.main-news__likes i {
  color: #ed718f;
  font-size: 19px;
  margin-right: 14px;
}

.main-news__likes i:hover {
  cursor: pointer;
}

.main-news__eye {
  color: #9d9acc;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.64px;
}

.main-news__eye i {
  color: #9d9acc;
  opacity: 0.2;
  font-size: 18px;
  margin-right: 14px;
}

.main-article__share a {
  font-size: 23px;
  color: #9d9acc;
  opacity: 0.3;
  margin-left: 20px;
}

.main-comment {
  width: 100%;
  -webkit-box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
  box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
  border-radius: 15px;
  background-color: #242333;
}

.main-right {
  width: 37%;
  margin-left: 2%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .main-right {
    width: 100%;
    margin-top: 40px;
  }
}

.main-right__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .main-right__title {
    text-align: center;
  }
} 