@font-face {
    font-family: 'geomanist';
    src: url('../fonts/geomanist-book-webfont.woff'),
    url('../fonts/geomanist-book-webfont.woff2');
        font-weight: normal;
        font-style: normal;
}

